.projects {
    width: 100%;
    min-height: 80%;
    background-color: #BBD6B8;
    font-family: 'Josefin Sans', sans-serif;
}

.projects-section-header {
    padding-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
    font-family: 'Shadows Into Light', cursive;
    letter-spacing: 5px;
}

.projects-section-header h1 {
    font-size: 60px;
}

.scheme div {
    width: 28%;
    min-height: 15rem;
}

.scheme {
    margin-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    justify-content: space-evenly;
    gap: 4rem;
    flex-shrink: 1;
    flex-wrap: wrap;
    position: relative;
}

