.projects {
    width: 100%;
    min-height: 80%;
    background-color: aqua;
    border-top: solid 2px red;
}

.projects-section-header {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.scheme div {
    width: 25%;
    min-height: 14rem;
}

.scheme {
    margin-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    justify-content: space-evenly;
    gap: 4rem;
    flex-shrink: 1;
    flex-wrap: wrap;
    position: relative;
}

