.form-piece {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    font-family: 'Josefin Sans', sans-serif;
}

.inputs {
    height: 7vh;
    border-radius: 5px;
    border: none;
    font-size: 25px;
    padding: 5px;
}

.first-input {
    width: 15vw;
}

.second-input {
    width: 21vw;
}

.third-input {
    width: 35vw;
}

.mensaje {
    width: 50vw;
    font-size: 20px;
    border-radius: 5px;
}