.abilities {
    background-color: #FF0303;
    width: 100%;
    min-height: 180vh;
}

.skill-cards {
    display: flex;
    flex-direction: column;
    gap: 15rem;
    position: relative;
}

.abilities h1 {
    text-align: center;
    padding: 5vh 0 23vh 0;
    font-family: 'Nova Oval', cursive;
    font-size: 60px;
}