.about-section {
    position: relative;
    width: 100%;
    margin: 0;
    min-height: 150vh;
    font-family: 'Prata', serif;
}

.cards {
    position: absolute;
}

.first-p {
    top: 10rem;
    left: 15vw;
    width: 20rem;
    animation: movingP1 3s infinite;
}

.second-p {
    top: 20rem;
    right: 2vw;
    width: 40rem;
}

.third-p {
    top: 41rem;
    left: 20vw;
    width: 35rem;
}

.about-section svg {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.first-arrow {
    position: absolute;
    width: 15%;
    transform: rotate(245deg);
}

.typing-animation {
    background-image: url(../../../public/img/tecleoCompuUno.png);
    width: 200px;
    min-height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: tecleo 1s infinite;
    position: absolute;
    right: 5rem;
    top: 6rem;
}

@keyframes tecleo {
    50% {
        background-image: url(../../../public/img/tecleoCompuDos.png);
    } 
    100% {
        background-image: url(../../../public/img/tecleoCompuUno.png);
    }
}

.about-section .arrow {
    background: url(../../../public/img/arrow.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 10%;
    height: 18vh;
    transform: rotate(-20deg);
    left: 40vw;
    top: 25vh;
}