.card {
    font-size: 17px;
    padding: 35px;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.3) -18px 19px 25px, rgba(0, 0, 0, 0.22) 8px 15px 12px;
}



.left {
    text-align: left;
    transform: skew(-2deg, -4deg);
}

.right {
    text-align: right;
    transform: skew(2deg, 2deg);
}