.frontpage {
    width: 100%;
    min-height: 90vh;
    text-align: center;
    background: url(http://1.bp.blogspot.com/-4avc3R_9M9c/VcJIBLNnoZI/AAAAAAAAFY0/TMFeNXMRyQw/s1600/8bit%2Bgif%2Bjapan%2B-%2B1041uuu%2B-%2BDiedrica%2BBlog%2B01.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.frontpage svg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}