.frontpage {
    width: 100%;
    min-height: 90vh;
    text-align: center;
    background: url(../../../public/img/portada-principal.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;

}

.frontpage svg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.frontpage .title {
    margin-top: 25vh;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    font-family: 'Caveat', cursive;
    font-size: 30px;
}