.project-square {
    width: 25%;
    min-height: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    position: relative;
    transition: 1.5s;
    z-index: 1;
}

.project-square a {
    cursor: pointer;
    text-decoration: none;
    width: 100%;
    min-height: 14rem;
    position: absolute;
}

.project-square.wedding, .project-square.etch-a-sketch, .project-square.calculator, .project-square.ssc, .project-square.hangman, .project-square.god-gamers {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.wedding {
    background: url(../../../public/img/portada1.png);
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}

.etch-a-sketch {
    background: url(../../../public/img/portada2.png);
    font-family: 'Shadows Into Light', cursive;
    letter-spacing: 5px;
}

.calculator {
    background: url(../../../public/img/portada3.PNG);
    color: white;
    font-family: 'Bruno Ace SC', cursive;
}

.ssc {
    background: url(../../../public/img/portada4.PNG);
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 18px;
}

.hangman {
    background: url(../../../public/img/portada5.PNG);
    color: white;
    font-size: 18px;
}

.god-gamers {
    background: url(../../../public/img/portada6.png);
    color: white;
    font-size: 18px;
}

.project-square.wedding:hover, .project-square.etch-a-sketch:hover, .project-square.calculator:hover, .project-square.ssc:hover, .project-square.hangman:hover, .project-square.god-gamers:hover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: scale(1.4);
}

.wedding:hover {
    background: url(../../../public/img/project-wedding.gif);
    margin-left: 5rem;
    z-index: 2;
}

.etch-a-sketch:hover {
    background: url(../../../public/img/project-etch-a-sketch.gif);
}

.calculator:hover {
    background: url(../../../public/img/project-calculator.gif);
    margin-right: 5rem;
    z-index: 2;
}

.ssc:hover {
    background: url(../../../public/img/project-ssc.gif);
    margin-left: 5rem;
    z-index: 2;
}

.hangman:hover {
    background: url(../../../public/img/project-hangman.gif);
}

.god-gamers:hover {
    margin-right: 5rem;
    z-index: 2;
}

.project-square:hover h3, .project-square:hover h2 {
    opacity: 0;
}

