.project-square {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 25%;
    min-height: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    position: relative;
    transition: 1.5s;
    z-index: 1;
}

a {
    color: white;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
    min-height: 14rem;
    position: absolute;
}

.project-square h2 {
    color: white;
}

.project-square h3 {
    color: white;
}

.project-square.wedding {
    background: url(../../../public/img/portada1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.project-square.etch-a-sketch {
    background: url(../../../public/img/portada2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.project-square.calculator {
    background: url(../../../public/img/portada3.PNG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.project-square.wedding:hover {
    background: url(../../../public/img/project-wedding.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: scale(1.5);
    margin-left: 5rem;
    z-index: 2;
}

.project-square.etch-a-sketch:hover {
    background: url(../../../public/img/project-etch-a-sketch.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: scale(1.5);
}

.project-square.calculator:hover {
    background: url(../../../public/img/project-calculator.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.project-square.calculator:hover {
    transform: scale(1.5);
    margin-right: 5rem;
    z-index: 2;
}

.project-square:hover h3, .project-square:hover h2 {
    opacity: 0;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

