.navbar {
    position: relative;
    font-family: 'Josefin Sans', sans-serif;
}

.navbar a {
    position: absolute;
    text-decoration: none;
    font-size: 25px;
    transition: 0.2s;
}

.navbar a:hover {
    font-size: 28px;
    text-decoration: underline;
    
}

.navbar :nth-child(1) {
    left: 10%;
    transform: skew(-5deg, -7deg);
}

.navbar :nth-child(2) {
    left: 30%;
    top: -25px;
    transform: skew(-2deg, -3deg);
}

.navbar :nth-child(3) {
    right: 30%;
    top: -25px;
    transform: skew(6deg, 3deg);
}

.navbar :nth-child(4) {
    right: 10%;
    transform: skew(5deg, 7deg);
}