.abilityCard {
    position: relative;
}

.branding {
    border: solid black;
    width: 20%;
    height: 10rem;
    position: absolute;
    background-color: red;
}

.measure {
    position: absolute;
    border: solid black;
    width: 80vw;
    height: 5rem;
    background: linear-gradient(to right, black 50%, transparent 0);
    background-size: 200% 100%;
    background-position: right;
    transition: 0.8s;
}

.right-direction .measure {
    background: linear-gradient(to left, black 50%, transparent 0);
    background-size: 200% 100%;
    background-position: left;
    transition: 0.8s;
}

.left-direction .branding{
    border-width: 2px 2px 2px 0;
    transform: skew(-25deg, 0);
    left: -5vw;
}

.left-direction .measure {
    border-width: 2px 2px 2px 0;
    transform: skew(-25deg, 0deg);
    top: 1rem;
    left: 15.5vw;
}

.right-direction .branding{
    border-width: 2px 0px 2px 2px;
    transform: skew(25deg, 0);
    right: -5vw;
}

.right-direction .measure {
    border-width: 2px 0 2px 2px;
    transform: skew(25deg, 0deg);
    top: 1rem;
    right: 15.5vw;
}