.abilityCard {
    position: relative;
}

.branding {
    border: solid black;
    width: 20vw;
    height: 24vh;
    position: absolute;
    background-color: #2E3840;
    border-radius: 5px;
}

.branding .logos {
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
}

.html-css-js {
    background: url(../../../public/img/html_css_js.png);
    transform: skew(25deg, 0);
    width: 13vw;
    height: 16vh;
    background-size: 90%;
    top: 2vh;
    left: 5.2vw;
}

.react {
    background: url(../../../public/img/react.png);
    transform: skew(-25deg, 0);
    width: 9vw;
    height: 18vh;
    top: 2vh;
    left: 3vw;
    background-size: 90%;
}

.programming {
    background: url(../../../public/img/programming.png);
    transform: skew(25deg, 0);
    width: 15vw;
    height: 24vh;
    top: -1vh;
    left: 4vw;
    background-size: cover;
}

.soft-skills {
    background: url(../../../public/img/soft-skills.png);
    transform: skew(-25deg, 0);
    width: 15.5vw;
    height: 24.5vh;
    top: -0.5vh;
    left: 0vw;
    background-size: 70%;
}

.measure {
    position: absolute;
    border: solid black;
    width: 80vw;
    height: 5rem;
    transition: 0.8s;
}

.left-direction .branding{
    border-width: 5px 5px 5px 0;
    transform: skew(-25deg, 0);
    left: -5vw;
}

.left-direction .measure {
    border-width: 5px 5px 5px 0px;
    transform: skew(-25deg, 0deg);
    top: 1rem;
    left: 15.7vw;
    background: linear-gradient(to right, black 50%, transparent 0);
    background-size: 200% 100%;
    background-position: right;
}

.right-direction .branding{
    border-width: 5px 0 5px 5px;
    transform: skew(25deg, 0);
    right: -5vw;
}

.right-direction .measure {
    border-width: 5px 0 5px 5px;
    transform: skew(25deg, 0deg);
    top: 1rem;
    right: 15.7vw;
    background: linear-gradient(to left, black 50%, transparent 0);
    background-size: 200% 100%;
    background-position: left;
}

.skill-title {
    display: inline;
    position: absolute;
    font-size: 30px;
    font-family: 'Nova Oval', cursive;
}

.left-direction .skill-title {
    top: -4vh;
    left: 19vw;
}

.right-direction .skill-title {
    top: -4vh;
    right: 19vw;
}

.skill-description {
    display: inline;
    position: absolute;
    font-family: 'Caveat', cursive;
    font-size: 25px;
}

.left-direction .skill-description {
    top: 15vh;
    left: 15vw;
}

.right-direction .skill-description {
    text-align: right;
    top: 15vh;
    right: 15vw;
}